.why-section {
  padding: 4rem 2rem;
  background-color: #f0fdf4;
  text-align: center;
}

.why-section h2 {
  font-size: 2.5rem;
  color: #22c55e;
  margin-bottom: 3rem;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  max-width: 1230px;
  margin: 0 auto;
}

.why-card {
  background: #ffffff;
  min-height: 12rem;
  border-radius: 1.5rem;
  padding: 2.5rem 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  cursor: default;
}

.why-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(34, 197, 94, 0.2);
}

.why-icon {
  font-size: 2rem;
  color: #22c55e;
  margin-bottom: 1rem;
}


.why-card h3{
  font-size: 1.5rem;
}

.why-card p{
  margin-top: 0.5rem;
  font-size: 1.2rem;
}