.application-process {
  padding: 80px 20px;
  /* background-color: #f0fdf4; */
  /* background-color: #f7f7f7; */
  background-color: #ffffff;
  text-align: center;
}

.application-process h2 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.application-process .highlight {
  color: #16a34a;
  font-size: 3rem;
}

.application-process .subtitle {
  font-size: 1.1rem;
  color: #4b5563;
  margin-bottom: 50px;
}

.process-steps-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 40px;
}

.second-row {
  justify-content: center; /* Center 2 items */
}

.step {
  width: 350px;
  background: white;
  border-radius: 16px;
  padding: 30px 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
  text-align: center;
}

.step:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(34, 197, 94, 0.2);
}

.step .icon {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #22c55e;
}

.step h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #111827;
}

.step p {
  font-size: 1rem;
  color: #4b5563;
}
