*{
    margin: 0;
    padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


/* #page-top {
  scroll-margin-top: 18vh;  */
  /* Adjust this to match your fixed navbar height */
/* } */

.scroll-offset {
  scroll-margin-top: 18vh; /* Equal to your navbar height */
}

